# 接口环境由 common.js 根据 HBuilderX 构建模式决定：
# - 运行 development: https://xlinkbeta.fsgo365.cn
# - 发行 production: https://xlink.fsgo365.cn
VUE_APP_ALIBABA_CLOUD_ACCESS_KEY_ID=
VUE_APP_ALIBABA_CLOUD_ACCESS_KEY_SECRET=
VUE_APP_ALIBABA_CLOUD_APP_KEY=
