/**c表示custom自定义**/
page {
  font-family: PingFangSC-Regular, PingFang SC;
  background-color: #f9f9f9;
  color: #323232;
  font-size: 16px;
  --black: #000;
  --white: #fff;
  --green: #07c160;
  --blue: #1989fa;
  --red: #ee0a24;
  --orange: #ff976a;
  /* 字体颜色 */
  --color-title: #333333;
  /* 字体value颜色 */
  --color-value: #969799;
  /*  */
  --color-gray: #646566;
  /* 边框颜色 */
  --color-border: #ebedf0;
}

/*布局*/
.c-flex {
  display: flex;
}

.c-inline-flex {
  display: inline-flex;
}

.c-flex-row {
  flex-direction: row;
}

.c-flex-col {
  flex-direction: column;
}

.c-flex-1 {
  flex: 1;
}

.c-flex-2 {
  flex: 2 !important;
}

.c-flex-center {
  align-items: center;
  justify-content: center;
}

.c-flex-between {
  justify-content: space-between !important;
}

.c-flex-around {
  justify-content: space-around !important;
}

.c-flex-start {
  justify-content: flex-start !important;
}

.c-flex-end {
  justify-content: flex-end;
}

.c-flex-wrap {
  flex-wrap: wrap;
}

.c-fixed {
  position: fixed;
}

.c-none {
  display: none !important;
}

.c-w {
  width: 100% !important;
}

.c-h {
  height: 100% !important;
}

.c-w-1 {
  width: 100vw !important;
}

.c-h-1 {
  height: 100vh !important;
}

.c-w-100 {
  width: 100%;
}

.c-h-100 {
  height: 100%;
}

.c-p-0 {
  padding: 0rpx !important;
}

.c-p-5 {
  padding: 5rpx !important;
}

.c-p-10 {
  padding: 10rpx !important;
}

.c-p-15 {
  padding: 15rpx !important;
}

.c-p-20 {
  padding: 20rpx !important;
}

.c-p-v-10 {
  padding-left: 10rpx !important;
  padding-right: 10rpx !important;
}

.c-p-v-20 {
  padding-left: 20rpx !important;
  padding-right: 20rpx !important;
}

.c-m-0 {
  margin: 0rpx;
}

.c-m-10 {
  margin: 10rpx;
}

.c-m-15 {
  margin: 15rpx;
}

.c-m-20 {
  margin: 20rpx;
}

.c-m-h-10 {
  margin-top: 10rpx;
  margin-bottom: 10rpx;
}

.c-m-v-10 {
  padding-left: 10rpx;
  padding-right: 10rpx;
}

.c-m-t-10 {
  margin-top: 10rpx;
}

.c-m-t-15 {
  margin-top: 15rpx;
}

.c-m-t-20 {
  margin-top: 20rpx;
}

.c-m-t-30 {
  margin-top: 30rpx;
}

.c-m-t-100 {
  margin-top: 100rpx;
}

.c-m-b-5 {
  margin-bottom: 5rpx;
}

.c-m-b-10 {
  margin-bottom: 10rpx;
}

.c-m-b-20 {
  margin-bottom: 20rpx;
}

.c-m-b-30 {
  margin-bottom: 30rpx;
}

.c-m-l-0 {
  margin-left: 0rpx !important;
}

.c-m-l-5 {
  margin-left: 5rpx;
}

.c-m-l-10 {
  margin-left: 10rpx;
}

.c-m-r-10 {
  margin-right: 10rpx;
}

.c-m-l-20 {
  margin-left: 20rpx;
}

.c-m-l-30 {
  margin-left: 30rpx;
}

.c-m-r-20 {
  margin-right: 20rpx;
}

.c-top-0 {
  top: 0;
}

.c-bottom-0 {
  bottom: 0;
}

.c-indent {
  text-indent: 50rpx;
}

.c-radius {
  border-radius: 6rpx;
}

.c-text-left {
  text-align: left;
}

.c-text-center {
  text-align: center;
}

.c-text-right {
  text-align: right;
}

.c-lf {
  float: left;
}

.c-rt {
  float: right;
}

.c-hidden {
  overflow: hidden;
}

.c-auto {
  overflow: auto;
}

.c-auto-x {
  overflow-x: auto;
}

.c-auto-y {
  overflow-y: auto;
}

.c-border-n {
  border: none !important;
}

/* 字体 */
.c-size-10 {
  font-size: 10px;
}

.c-size-12 {
  font-size: 12px;
}

.c-size-13 {
  font-size: 13px;
}

.c-size-14 {
  font-size: 14px;
}

.c-size-16 {
  font-size: 16px;
}

.c-size-18 {
  font-size: 18px;
}

.c-size-20 {
  font-size: 20px;
}

.c-size-22 {
  font-size: 22px;
}

.c-size-24 {
  font-size: 24px;
}

.c-bold {
  font-weight: bold;
}

.c-clear::after,
.c-clear::before,
.c-clear {
  content: '';
  display: block;
  clear: both;
}

.c-white-space-nowrap {
  white-space: nowrap;
}

.c-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-nowrap-normal {
  white-space: normal;
}

.c-ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.c-pointer {
  cursor: pointer;
}

.c-no-pointer {
  pointer-events: none;
  opacity: 0.7;
}

.c-opacity {
  opacity: 0;
}

.c-opacity-5 {
  opacity: 0.5;
}

.c-opacity-1 {
  opacity: 1;
}

.c-underline {
  text-decoration: underline;
}

.c-underline-no {
  text-decoration: none;
}

.c-break-all {
  word-break: break-all;
}

.c-input-none {
  border: none;
  outline: none;
  background-color: transparent;
}

/*颜色*/
.c-transparent {
  color: transparent !important;
}

.c-black {
  color: var(--black) !important;
}

.c-color-title {
  color: var(--color-title) !important;
}

.c-color-value {
  color: var(--color-value) !important;
}

.c-border {
  color: var(--color-border) !important;
}

.c-white {
  color: var(--white) !important;
}

.c-gray {
  color: var(--gray) !important;
}

.c-green {
  color: var(--green) !important;
}

.c-red {
  color: var(--red) !important;
}

.c-orange {
  color: var(--orange) !important;
}

.c-blue {
  color: var(--blue) !important;
}

.c-c-3 {
  color: #333 !important;
}

.c-c-6 {
  color: #666 !important;
}

.c-c-9 {
  color: #999 !important;
}

/*背景色*/
.c-bg-transparent {
  background-color: var(--transparent) !important;
}

.c-bg-black {
  background-color: var(--black) !important;
}

.c-bg-white {
  background-color: var(--white) !important;
}

.c-bg-gray {
  background-color: var(--gray) !important;
}

.c-bg-gray-button {
  background-color: rgb(239, 239, 239) !important;
}

.c-bg-green {
  background-color: var(--green) !important;
}

.c-bg-red {
  background-color: var(--red) !important;
}

.c-bg-orange {
  background-color: var(--orange) !important;
}

.c-bg-blue {
  background-color: var(--blue) !important;
}

.c-bg-purple {
  background-color: var(--purple) !important;
}

.c-relative {
  position: relative;
}

.c-absolute {
  position: absolute;
}

.c-item-start {
  align-items: start !important;
}

.c-item-center {
  align-items: center;
}

.c-item-end {
  align-items: flex-end;
}

/* 列表头部 */
.c-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* 列表内容 */
.c-content {
  margin-top: 110rpx;
}

/* 列表过滤条 */
.c-filterBar {
  display: flex;
  background-color: #fff;
  padding: 0 20rpx;
  height: 65rpx;
  align-items: center;
  font-size: 16px;
}

.c-filterBar-tabs {
  flex: 1;
  display: flex;
  height: 65rpx;
  line-height: 65rpx;
  white-space: nowrap;
  overflow-x: scroll;
}

.c-filterBar-tabs > view {
  margin: 0 20rpx;
  box-sizing: border-box;
}

.c-line-bottom {
  border-bottom: 1px solid var(--red);
}

/* .c-line-bottom::after {
  content: '';
  width: 30px;
  position: absolute;
  bottom: -3px;
  z-index: 1;
  height: 3px;
  background-color: #ee0a24;
  border-radius: 3px;
  left: calc(50% - 15px);
} */

/* 卡片 */
.c-cards {
  padding: 15px;
}
.c-card {
  background-color: #fff;
  margin: 10px 15px;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  /* box-shadow: 0 8px 12px #ebedf0; */
  overflow: hidden;
  color: #333333;
}

.c-card > view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-card-title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40rpx;
  position: relative;
}

.c-card-title::after {
  position: absolute;
  content: '';
  border-bottom: 2rpx solid #f3f3f3;
  width: 200%;
  height: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
}

.c-card-icon {
  padding: 0 5rpx;
  border-radius: 5rpx;
  margin-right: 15rpx;
}

.c-card-content {
  flex-direction: column;
  align-items: flex-start !important;
  font-size: 14px;
  color: #333333;
  line-height: 40rpx;
}

/* 详情页 */
.c-box {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
}

/* 摘要 */
.c-abstract {
  font-size: 16px;
  padding: 10rpx 30rpx;
  background-color: #fff;
}

.c-abstract > view {
  display: flex;
  align-items: center;
  padding: 5rpx 0;
}

.c-abstract > view > van-icon {
  background-color: #f7f8fa;
  margin-left: 10rpx;
}

/* tab页 */
.c-tab-content {
  margin: 20rpx 20rpx 140rpx;
  border-radius: 10rpx;
  overflow: hidden;
}
.c-tab-content > van-cell:last-child > .van-cell:after {
  border-bottom: none !important;
}

.van-tab {
  font-size: 16px !important;
}

/* tab标签内容高度占剩余百分百 */
.van-tab__pane--active {
  height: 100% !important;
}

.van-tabs__content {
  height: calc(100% - 44px) !important;
}

/* 右下角悬浮按钮 */
.c-ball {
  position: fixed;
  bottom: 130rpx;
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(125, 207, 158, 0.8);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 100rpx;
}

/* 底部按钮组 */
.c-button-group-bottom {
  position: fixed;
  bottom: 0rpx;
  width: 100%;
  padding: 10rpx 20rpx 30rpx;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #f7f8fa;
  color: #c8c9cc;
}

.c-button-group-item {
  width: 100%;
  min-height: 44px;
  box-sizing: border-box;
  border-radius: 10rpx;
  background-color: #07c160;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.c-icon-disable {
  font-size: 20px;
  position: absolute !important;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

/* 底部单个按钮 */
.c-button-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 20rpx;
  box-sizing: border-box;
}

.c-ball-left {
  left: 20rpx;
}

.c-ball-right {
  right: 20rpx;
}

.c-ball van-icon {
  padding: 10px;
  font-size: 35px;
}

.c-ball-text {
  font-size: 16px;
}

/* 取消弹出层上边距 */
.van-nav-bar.van-hairline--bottom {
  padding-top: 0 !important;
}

.c-cell-value {
  text-align: left;
  color: #323233 !important;
  display: flex !important;
}

.van-field__label {
  color: var(--color-title) !important;
}

/* 步骤条 */
.c-step {
  display: flex;
  background-color: #fff;
  min-height: 200rpx;
}

.c-step-left {
  width: 50rpx;
  height: 100%;
  position: relative;
  background-color: #fff;
}

.c-step-left van-icon {
  position: absolute;
  left: calc(50% - 8px);
  top: 80rpx;
  background-color: #fff;
  color: var(--blue);
  z-index: 2;
}

.c-step-left.active van-icon {
  color: var(--green);
}

.c-sideline {
  border: 1px dashed #ebedf0;
  width: 0;
  height: 200rpx;
  margin: 0 auto;
  position: absolute;
  left: 20rpx;
}

.c-step-center {
  flex: 1;
  padding: 15rpx;
  border-bottom: 1px solid #ebedf0;
  display: flex;
  flex-direction: column;
}

.c-step-center > view {
  padding: 5rpx 0;
}

.c-step-right {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebedf0;
}

.c-step-right button {
  margin-left: 10rpx;
}

.c-step-right van-button {
  margin: 0 auto;
}

/*详情页单页*/
.detail {
  margin: 15rpx;
  /*height: calc(100vh - 10rpx);*/
  overflow-y: auto;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 20rpx;
  border-radius: 6rpx;
}

/*标题竖线*/
.tips {
  display: inline-block;
  width: 6rpx;
  height: 32rpx;
  margin-right: 20rpx;
}

/*轮播图*/
swiper {
  overflow: hidden;
  transform: translateY(0);
}

swiper-item image {
  width: 100%;
}

/*图片*/
.view-image {
  width: 120rpx;
  min-width: 120rpx;
  border-radius: 6rpx;
  overflow: hidden;
}

.view-image image {
  width: 100%;
  height: 100%;
}

.c-border-b {
  border-bottom: 1px solid #ebedf0;
}

/*产品选择弹出层*/
.c-selection {
  flex: 1;
  display: flex;
}

.c-selection-left {
  flex: 1;
  background: #fafafa;
}

.c-selection-left-item {
  padding: 20rpx 40rpx 20rpx 20rpx;
  position: relative;
}

.c-selection-left-item-tag {
  position: absolute;
  top: 28rpx;
  right: 8rpx;
  font-size: 12px;
  min-width: 16px;
  text-align: center;
  height: 16px;
  line-height: 16p;
  padding: 0 5rpx;
  box-sizing: border-box;
  color: #fff;
  background-color: var(--red);
  border-radius: 999px;
}

.c-left-icon-red {
  color: red;
  font-weight: bold;
}

.c-left-icon-red::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 16px;
  background-color: #ee0a24;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
}

.c-selection-right {
  flex: 3;
}

.c-selection-right-item {
  position: relative;
  padding: 20rpx;
  padding-right: 26px !important;
}

.c-selection-right-item-icon {
  position: absolute;
  height: 16px;
  top: 16rpx;
  right: 10rpx;
}

/* vant弹出层顶部保存取消按钮始终显示 */
.c-popup {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.c-popup-cells {
  flex: 1;
  overflow-y: auto;
}

.c-bottom-buttons {
  position: fixed;
  bottom: 20rpx;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.c-bottom-buttons van-button {
  width: 40%;
}

.c-bottom-buttons .van-button {
  width: 100%;
}

/* 单元格样式 */
.van-cell {
  align-items: center;
}

.van-cell__title {
  /* max-width: 100px !important; */
  /* max-width: 100px !important;
  min-width: 100px !important; */
  font-size: 16px;
}

.van-cell__value {
  display: block !important;
  font-size: 16px;
}

.form-popup .van-cell__value {
  color: var(--color-title) !important;
}

.c-disabled .van-cell__title {
  color: var(--color-value) !important;
}
.c-disable {
  color: var(--color-value) !important;
  cursor: not-allowed;
  pointer-events: none !important;
}
.c-opacity-5 {
  opacity: 0.5;
}

.c-cell-headline {
  padding: 20rpx 20rpx 0;
  max-width: 100%;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.c-cell-gap {
  width: 100%;
  padding: 10rpx 30rpx;
  background-color: #f7f8fa !important;
  font-size: 14px;
  box-sizing: border-box;
  color: var(--color-value) !important;
}

.c-cell-switch .van-cell__title {
  max-width: 100% !important;
  flex: 3;
}

.c-radio-group-cell .van-cell {
  flex-direction: column;
}
.c-radio-group-cell .van-cell .van-cell__title,
.c-radio-group-cell .van-cell .van-cell__value {
  max-width: none !important;
  width: 100%;
}

.c-radio-group,
.c-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  float: right;
}

.c-radio-group .van-radio {
  margin: 10rpx;
}

.c-checkbox-group .van-checkbox {
  margin: 10rpx;
}

.c-checkbox-group-cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* 上传图片 */
.van-uploader__preview {
  margin: 0 15px 8px 0 !important;
}

.c-cell-view {
  padding: 10px 16px;
  background-color: #fff;
}

.van-picker__frame {
  width: 1px;
}

/* 省市区组件顶部导航栏背景色 */
.van-picker__toolbar {
  background-color: #fff;
}

.c-required {
  position: absolute;
  left: 8px;
  color: red;
}

.c-cell_title {
  font-size: 16px;
  color: #323233;
}

.c-cell_value {
  font-size: 16px;
  color: var(--color-value) !important;
}

.c-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.c-loading {
  position: absolute;
  left: calc(50vw - 25px);
  top: calc(50vh - 25px);
  color: #fff;
}

.van-loading__text {
  color: #fff;
}

.van-cell:after {
  width: calc(100% - 32px);
}

.van-dialog__header {
  padding: 10px 0 !important;
}

/* 空图片位置 */
.c-empty {
  position: fixed;
  bottom: 100px;
  width: 100vw;
}
.c-empty .van-empty__bottom {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.c-line {
  position: relative;
}
.c-line::after {
  position: absolute;
  content: '';
  border-top: 2rpx solid rgba(0, 0, 0, 0.1);
  width: 200%;
  height: 0;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
}

.c-search {
  padding: 10px 15px;
}
